apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Values.namespace }}
  annotations:
    ignore-check.kube-linter.io/no-read-only-root-fs: "ksm writes to the disk"
    ignore-check.kube-linter.io/host-network: "requires host network for integration tests"
  labels:
    app: {{ .Values.name }}
    giantswarm.io/service-type: "managed"
    {{- include "labels.common" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
        giantswarm.io/service-type: "managed"
    spec:
      securityContext:
        runAsUser: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
      - name: {{ .Values.name }}
        image: "{{ .Values.image.registry }}/{{ .Values.image.name }}:{{ .Values.image.tag }}"
        args:
        - '--port={{ .Values.port }}'
        ports:
        - containerPort: {{ .Values.port }}
          name: {{ .Values.portName }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.portName }}
          initialDelaySeconds: 5
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.portName }}
          initialDelaySeconds: 5
          timeoutSeconds: 5
        resources:
{{ toYaml .Values.resources | indent 10 }}
      serviceAccountName: {{ .Values.name }}
      hostNetwork: true
